.32_41 { 
	overflow:hidden;
}.e32_41 { 
	background-color:rgba(217.8125050663948, 213.0932343006134, 208.73698085546494, 1);
	width:1440px;
	height:1976px;
	position:absolute;
}.e32_108 { 
	width:1220px;
	height:939px;
	position:absolute;
	left:109px;
	top:814px;
}.e32_109 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:1220px;
	height:939px;
	position:absolute;
	left:0px;
	top:0px;
}.e32_81 { 
	width:465px;
	height:21px;
	position:absolute;
	left:770px;
	top:600px;
}.e32_82 { 
	width:1221px;
	height:216px;
	position:absolute;
	left:109px;
	top:448px;
}.e32_83 { 
	width:1221px;
	height:216px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/v8vz_roj8zo.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e32_84 { 
	color:rgba(255, 255, 255, 1);
	width:323.24176025390625px;
	height:86.14734649658203px;
	position:absolute;
	left:987px;
	top:513px;
	font-family:Sen;
	text-align:left;
	font-size:70px;
	letter-spacing:0;
}.e32_87 { 
	background-color:rgba(255, 255, 255, 1);
	width:144px;
	height:59px;
	position:absolute;
	left:109px;
	top:719px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e32_88 { 
	color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:272px;
	height:55px;
	position:absolute;
	left:126px;
	top:725px;
	font-family:Sen;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e32_98 { 
	width:368px;
	height:227px;
	position:absolute;
	left:145px;
	top:866px;
	background-image:url(images/image_10.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e32_90 { 
	width:368px;
	height:227px;
	position:absolute;
	left:927px;
	top:866px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e32_99 { 
	width:368px;
	height:227px;
	position:absolute;
	left:536px;
	top:1171px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e32_101 { 
	width:368px;
	height:227px;
	position:absolute;
	left:145px;
	top:1171px;
	background-image:url(images/image_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e32_103 { 
	width:368px;
	height:227px;
	position:absolute;
	left:536px;
	top:869px;
	background-image:url(images/image_12.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e32_105 { 
	width:368px;
	height:227px;
	position:absolute;
	left:927px;
	top:1171px;
	background-image:url(images/image_13.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e32_116 { 
	width:368px;
	height:227px;
	position:absolute;
	left:145px;
	top:1473px;
	background-image:url(images/image_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e32_118 { 
	width:368px;
	height:227px;
	position:absolute;
	left:536px;
	top:1473px;
	background-image:url(images/image_15.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e32_120 { 
	width:368px;
	height:227px;
	position:absolute;
	left:927px;
	top:1473px;
	background-image:url(images/image_16.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_2947 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:284px;
	height:284px;
	position:absolute;
	left:42px;
	top:119px;
}.e40_2948 { 
	background-color:rgba(255, 255, 255, 1);
	width:1418px;
	height:87px;
	position:absolute;
	left:64px;
	top:218px;
}.e40_2949 { 
	border-radius:500px;
	background-color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:243px;
	height:243px;
	position:absolute;
	left:63px;
	top:140px;
}.e40_2950 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:225px;
	height:225px;
	position:absolute;
	left:72px;
	top:149px;
}.e40_2951 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:154px;
	height:49px;
	position:absolute;
	left:941px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_2952 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:164px;
	height:49px;
	position:absolute;
	left:1159px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_2953 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:117px;
	height:49px;
	position:absolute;
	left:738px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_2954 { 
	color:rgba(182.00000435113907, 163.00000548362732, 148.000006377697, 1);
	width:277px;
	height:121px;
	position:absolute;
	left:340px;
	top:203px;
	font-family:Sen;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}.e40_2955 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:154px;
	height:49px;
	position:absolute;
	left:941px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_2956 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:164px;
	height:49px;
	position:absolute;
	left:1159px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}